title {
    font-family: 'Lucida Sans';
}

#header {
    display: flex;
    position: fixed;
    top: 0;
    background-color: white;
}

#nav-bar {
    margin: 7px;
}

.nav-link {
    margin: 12px;
}

#logo {
    display: flex;
    flex-direction: row;
    width: 50%;
}

#header-img {
    width: 32px;
    height: 32px;
}

#app-title {
    margin: 3px;
}

#hero {
    margin-top: 60px;
}

@media (max-width: 400px) {
    #video {
        width: 213px;
        height: 120px;
    }
}
